/*
	- Colors
		main      : (Grey-900)    : #212121;
		accent-1  : (Orange-900)  : #E65100;
		accent-2  : (Amber-500)   : #FFC107;

		light     : (Grey-100)    : #F5F5F5;
		mid		 : (Grey-800)    : #424242;
		dark      : (Grey-900)    : #212121;

	- Sizes
		padding:  1em;
		appBar-height:  3.5em;
		drawer-width: 16em;

*/



/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * AppBar:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
header{
	position: relative;
	padding: 1em;

	background: #212121;

	z-index: 2;
	box-shadow: 0em 0.2em 0.3em rgba(0, 0, 0, 0.4);
}
/*
 *	Appbar's drawer toggle button
 */
#drawerToggleBtn{
	margin-right: 1em;

	color: #F5F5F5;
	font-size: 1.5em;

	vertical-align: middle;
}

/*
 *	Appbar's title
 */
#allgau_titleSpan, #bookery_titleSpan, #separator_titleSpan{
	margin-right: 0.2em;

	font-family: Seagram;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.7);

	vertical-align: middle;
}
#allgau_titleSpan{
	color: #E65100;
	font-size: 1.3em;
}
#bookery_titleSpan, #separator_titleSpan{
	color: #F5F5F5;
	font-size: 1.2em;
}

/*
 *	Appbar's action buttons
 */
#appBarActionDiv{
	float: right;
}
#appBarActionDiv > button{
		font-size: 1.5em;
		color: #F5F5F5;
}



/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * Drawer:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
#drawer{
	position: absolute;
	width: 16em;
	height: 100%;

	background: #eee;

	box-shadow: 0.2em 0em 0.4em rgba(0, 0, 0, 0.4);

	z-index: 2;
	overflow-y: auto;
}

/*
 *	Drawer's divider
 */
#drawer > .divider{
	height: 1pt;
	width: 100%;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/*
 *	Drawer's buttons
 */
#drawer > button{
	width: 100%;
	padding: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;

	white-space: nowrap;
	text-align: left;
	transition: background 0.2s ease;
}
#drawer > button:hover{
	background: #e2e2e2;

	transition: background 0.1s linear;
}
#drawer > button:active{
	background: #d2d2d2;

	transition: background 0.15s ease;
}
#drawer > button > i{
	/* Icon */
	margin-right: 0.5em;

	font-size: 2.25em;
	color: #212121;

	vertical-align: middle;
}
#drawer > button > span{
	/* Text */
	margin-left: 0.5em;

	font-size: 1.3em;
	color: #616161;
	font-family: Roboto Regular;

	vertical-align: middle;
}



/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * Main content:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
#mainContent{
	position: absolute;
	height: 100%;
	width: 100%;

	background: #F5F5F5;
}
