/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * Fonts:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
@font-face{
	font-family: "Seagram";
	src: url("../res/font/Seagram.ttf");
}
@font-face{
	font-family: "Roboto Regular";
	src: url("../res/font/Roboto-Regular.ttf");
}



/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * Selection:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
::selection {
	background: #E65100;
	color: #F5F5F5;
}



/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * Elements:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
html{
	overflow: hidden;
}

body{
	margin: 0;
}

button{
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
}



/*
 *  * ========== * ========== * ========== * ========== * ========== *
 *  * Util classes:
 *  * ========== * ========== * ========== * ========== * ========== *
 */
.divider{
	opacity: 0.5;
	background: #616161;
}
