/*
*  * ========== * ========== * ========== * ========== * ========== *
*  * Fonts:
*  * ========== * ========== * ========== * ========== * ========== *
*/
@font-face{
	font-family: "Seagram";
	src: url("../res/font/Seagram.ttf");
}
@font-face{
	font-family: "Roboto Regular";
	src: url("../res/font/Roboto-Regular.ttf");
}



/*
*  * ========== * ========== * ========== * ========== * ========== *
*  * Selection:
*  * ========== * ========== * ========== * ========== * ========== *
*/
::selection {
	background: #E65100;
	color: #F5F5F5;
}



/*
*  * ========== * ========== * ========== * ========== * ========== *
*  * Elements:
*  * ========== * ========== * ========== * ========== * ========== *
*/
*{
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	box-sizing: border-box;
	font-family: Roboto Regular;
}

html{
	overflow: hidden;
}

button{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus, a:focus{
	outline: none;
}
button:hover, a:hover{
	cursor: pointer;
}



/*
*  * ========== * ========== * ========== * ========== * ========== *
*  * Util classes:
*  * ========== * ========== * ========== * ========== * ========== *
*/
.divider{
	opacity: 0.5;
	background: #616161;
}

.circledImg{
	border-radius: 50%;
	object-fit: cover;
}
.whiteBorder{
	border: solid 0.2em #fff;
	box-shadow: 0em 0.1em 0.3em rgba(0, 0, 0, 0.4);
}


/* Ripple button */
.rippleBtn {
	display: inline-block;

	padding: 0.3em 2em;

	line-height: 2.25em;
	font-size: 0.9em;

	border-radius: 2px;
}
.rippleBtn > paper-ripple {
	border-radius: 2px;
	overflow: hidden;
}



.raised{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition-delay: 0.2s;
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.raised:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	transition-delay: 0s;
}



.fabList{
	position: fixed;
	right: 2em;
	bottom: 2em;
}
.fab{
	display: block;
	position: relative;
	overflow: hidden;
	padding: 1em;
	border-radius: 50%;
	background-color: #FFC107;
	color: #fff;
}
.fabList > .fab:not(:last-child){
	padding: 0.6em;
	margin: 0 auto 1em auto;
}
.fab .material-icons{
	display: block;
	color: #212121;
	font-size: 2em;
	vertical-align: middle;
}







/*
*  * ========== * ========== * ========== * ========== * ========== *
*  * Layout classes:
*  * ========== * ========== * ========== * ========== * ========== *
*/
/*
 *	Form section
 */
.formSection{
	top: 0px;
	bottom:0px;
	height: 100%;
	overflow-y: auto;
}
.formSection > form, .formSection > div:not(.fabList){
	display: flex;
	flex-flow: column;
	min-width: 18em;
	max-width: 50%;
	margin: 2em auto;
	padding-bottom: 3em;
}
.formSection > form > *:not(.detailContainerHeader), .formSection > div:not(.fabList) > *:not(.detailContainerHeader){
	position: relative;
	margin: 0.5em auto;
	width: 100%;
}
.formSection .formRow{
	padding: 0.5em 1em;
}
.formSection form > button{
	margin-top: 4em;
	background-color: #E65100;
	color: #F5F5F5;
}


/*
 *	Form's rows
 */
.formRow{
	display: flex;
	position: relative;
	width: 100%;
	flex-flow: row;
	vertical-align: middle;
}
.formRow > *:not(.material-icons){
	flex-grow: 1;
}
.formRow > .material-icons{
	display: inline-block;
	font-size: 1.5em;
	margin: auto 1em auto 0;
	color: #424242;
}
.formRow > span{
	padding: 1em 0;
}


/*
 *	List section
 */
.listSection{
	overflow-y: auto;
	top: 0px;
	bottom:0px;
	height: 100%;
	padding-bottom: 6.5em;
}

.listSection .row{
	display: flex;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	list-style-type: none;
	padding: 1em;

	cursor: pointer;
	overflow: hidden;

	flex-direction: row;
	align-items: center;

	transition: background 0.2s ease;
}
.listSection .row:hover{
   background: rgba(0, 0, 0, 0.08);
	transition: background 0.1s ease;
}

.listSection .horizontal{
	display: inline-block;
	height: 100%;
	flex-grow: 1;
}
.listSection .vertical{
	display: block;
	width: 100%;
}


/*
 *	Detail container
 */
.detailContainer{
	border-radius: 3px;
	overflow: hidden;
}
.detailContainerHeader{
	display: flex;
	position: relative;
	background: #ddd;
	margin: 0em 0 1em 0;
	padding: 1em;
	vertical-align: middle;
	width: 100%;
}
.detailContainerHeader > img{
	display: inline-block;
	position: relative;
	height: 3em;
	width: 3em;
	min-width: 3em;
}
.detailContainerHeader > span{
	display: inline-block;
	position: relative;
	margin: auto 0 auto 1em;
	font-size: 1.1em;
}

.detailContainerHeader > .right{
	display: inline-block;
	position: relative;
	margin: auto 0 auto 1em;
	flex-grow: 1;
}
.detailContainerHeader > .right > *{
	display: inline-block;
	position: relative;
	font-size: 1.1em;
	float: right;
	color: #212121;
	transition: color 0.15s ease;
}
.detailContainerHeader > .right > .blue:hover, .detailContainerHeader > .right > .blue:active{
	color: #46f;
}
.detailContainerHeader > .right > .red:hover, .detailContainerHeader > .right > .red:active{
	color: #d34;
}
.detailContainerHeader > .right > .material-icons{
	font-size: 1.5em;
}

.detailContainer > .formRow{
	margin-left: 1em;
	margin-right: 1em;
}
